# Options +FollowSymlinks
# RewriteEngine on

#RewriteCond %{REQUEST_URI} !=/workingOn.html
#RewriteRule .* /workingOn.html [R=302,L]


## enable rewrites

    Options +FollowSymLinks
    RewriteEngine on

############################################
## workaround for HTTP authorization
## in CGI environment

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

############################################
## always send 404 on missing files in these folders

    RewriteCond %{REQUEST_URI} !^/(media|skin|js|css)/

############################################
## never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## rewrite everything else to index.php

    RewriteRule .* index.php [L]